*{margin: 0;padding: 0}
.header{
    height:40px;
    width:100%;
}
.header_top{
    height:40px;
    width:100%;
    background:rgb(0, 40, 150);
    color:wheat;
}
.header_connect{
    height:25px;
    width:20%;
    background:rgb(0, 0, 70);
    color:wheat;
}
.header_connect{
    height:25px;
    width:20%;
    background:rgb(0, 0, 70);
    color:wheat;
}
.header_connect{
    height:25px;
    width:20%;
    background:rgb(0, 0, 70);
    color:wheat;
}
.center{
    height:800px;
    width:100%;
}
.center_left{
    height:800px;
    width:10%;
    background:rgb(0, 40, 150);
    color:wheat;
}
.center_mid{
    height:800px;
    width:70%;
    background:wheat;
    color:rgb(0, 40, 150);
}
.bottom{
    height:120px;
    width:100%;
}